{% extends "base.html" %}
{% load static %}

{% block head_content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Maki 2.0 - Erreur</title>

<!-- Favicon
================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href={% static 'app/img/icon_sushi.png' %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static 'app/img/icon_sushi.png' %}>

<!-- Template Main CSS File -->
<link href={% static "app/css/style.css" %} rel="stylesheet">
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  
{% endblock head_content %}


{% block content %}
  
    <div>testttttttttttt</div>
    <script src={% static "app/js/main.js" %}></script>
{% endblock content %}