{% extends "base.html" %}
{% load static %}

{% block head_content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Maki 2.0 - Accueil</title>

<!-- Favicon
    ================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href={% static 'app/img/icon_sushi.png' %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static 'app/img/icon_sushi.png' %}>

<!-- Template Main CSS File -->
<link href={% static "app/css/style.css" %} rel="stylesheet">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock head_content %}


{% block content %}

<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-black navbar-dark ">
        <div class="container w-75">
          <a class="navbar-brand" href="#">
            <!-- <h2>MAKI <span class="active">2</span>.0</h2> -->
            <img class="img_logo" src={% static "app/img/logo_maki.png" %} alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#">Ontvangst</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#about">Over</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#partenaires">Partners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="#contact">Contact</a>
              </li>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="navbar_flags" src={% static 'app/img/flags/netherlands.png'%} alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'homeFR' %}"><img class="navbar_flags" src={% static 'app/img/flags/france.png'%} alt=""> FR</a></li>
                <li><a class="dropdown-item" href="{% url 'homeEN' %}"><img class="navbar_flags" src={% static 'app/img/flags/united-kingdom.png'%} alt=""> EN</a></li>
              </ul>
            </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<main>
    <section class="section1">
        <div class="imagebg">
            <div class="centrerelem">
                <div>
                  <span class="section1-premierp rounded-pill p-2 text-white fs-5" class="section1-premierp">Bienvenue chez
                    <b>Maki 2.0</b></span>
                </div>
                <div>
                  <p class="section1-secondp">Découvrez l'art des makis chez nous !</p>
                </div>
                <div>
                  <button class="section1-btn rounded-pill text-light fs-5"><a class="no_decoration" href="{% url 'productsNL' %}"><span id="commencez">Voir nos produits</span></a></button>
                </div>
              </div>
        </div>
    </section>
    <section class="section4" id="about">
        <div class="section10_div_title">
            <h2 class="titre_section">À PROPOS <s>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</s></h2>
            <h1 class="titre_section active">Notre Histoire</h1>
        </div>
        <div class="section4_in">
            <div class="section4_div_gauche">
                <h3>La passion des saveurs, l'union fraternelle : <span class="active"><i>L'histoire du restaurant Maki 2.0</i></span></h3>
                <p>Au cœur de La Louvière, se cache un trésor culinaire bien particulier : le restaurant Maki 2.0. Derrière chaque bouchée exquise de ces délices japonais se trouvent deux frères dont la passion pour l'art de la cuisine et l'expérience dans l'industrie de l'horeca sont inégalées.</p>
                <p>Les frères [Prénom du Frère A] et [Prénom du Frère B] ont grandi ensemble dans une famille qui a toujours valorisé la cuisine. Leurs parents, propriétaires d'un petit restaurant local, ont enseigné aux deux jeunes hommes l'importance de la qualité, de la fraîcheur et du dévouement envers l'art de la cuisine. C'est ainsi que leur voyage dans le monde de la restauration a commencé.</p>
                <p>Après avoir travaillé dans divers restaurants et acquis une expérience précieuse au fil des ans, les frères ont décidé de concrétiser leur rêve commun : apporter une touche unique à l'univers des makis. Leur passion pour la cuisine japonaise authentique s'est transformée en une véritable obsession pour la création de makis exquis, mariant habilement tradition et innovation.</p>
            </div>
            <div class="section4_div_droite">
                <p>Le restaurant Maki 2.0 est né de leur détermination à offrir aux amateurs de cuisine une expérience gastronomique inoubliable. Chaque jour, les frères s'efforcent de repousser les limites de la créativité culinaire tout en restant fidèles aux méthodes traditionnelles de préparation des makis.</p>
                <p>Ce restaurant, bien que récent, incarne l'expérience accumulée par les deux frères au cours de leurs années dans l'industrie de l'horeca. Leur connaissance approfondie des ingrédients, leur quête incessante de la fraîcheur et leur engagement envers la satisfaction du client transparaissent dans chaque plat qu'ils servent.</p>
                <p>Chez Maki 2.0, vous ne trouverez pas seulement des makis. Vous découvrirez une histoire de deux frères qui, après des années de dur labeur et de dévouement, ont réalisé leur rêve de créer un lieu où la passion pour la cuisine se marie harmonieusement avec le respect de la tradition japonaise.</p>
                <p>Les frères [Prénom du Frère A] et [Prénom du Frère B] vous invitent à partager leur voyage culinaire et à savourer l'amour et la passion qui se cachent derrière chaque morsure de leurs créations de maki. Venez découvrir l'union fraternelle qui donne vie à Maki 2.0, un restaurant où la gastronomie devient une expérience digne de vos plus grands désirs.</p>
                <h5 class="active">Bienvenue dans l'univers du maki, bienvenue chez Maki 2.0.</h5>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="imagebg2">
            <div class="centrerelem2">
                <div>
                    <span class="section1-premierp rounded-pill p-2 text-white fs-5">Notre Menu</span>
                  </div>
                  <div class="section3_div_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat totam, cum natus blanditiis assumenda accusamus aspernatur nobis labore unde cum natus blanditiis cum natus blanditiis cum natus blanditiis!</p>
                    <a target="_blank" href="{% static 'app/img/menu/menu.pdf' %}">
                        <button class="rounded-pill px-3 py-3 mt-3 section1-premierp btn_menu text-white" type="button">Voir le menu</button>
                    </a>
                  </div>
            </div>
        </div>
    </section>
    <section class="section2" id="partenaires">
        <div class="section10_div_title">
            <h2 class="titre_section">NOS PARTENAIRES <s>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</s></h2>
            <h1 class="titre_section active">Services de livraison</h1>
        </div>
        <div class="section2_partenaire">
            <div class="section2_img_box">
                <a class="no_decoration" href="https://www.takeaway.com/be-fr/menu/maki-20">
                        <img src={% static 'app/img/livraison/logo_take_away.png' %} alt="">
                    </a>
                <div class="section2_logo">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=be.pizza.android&hl=fr&gl=US">
                        <img src={% static 'app/img/livraison/play_store.png' %} alt="">
                    </a>
                    <a target="_blank" href="https://apps.apple.com/be/app/takeaway-com-belgique/id333214143?l=fr">

                        <img class="section2_app_store" src={% static 'app/img/livraison/app_store.png' %} alt="">
                    </a>
                   </div>
            </div>
            <div class="section2_img_box">
                <a class="no_decoration" href="https://www.ubereats.com/be/store/maki-20/wNDqgVqjXx2pVnxqJmaMDQ?diningMode=DELIVERY&ps=1&sc=SEARCH_SUGGESTION">
                    <img src={% static 'app/img/livraison/uber-eats-logo.png' %} alt="">
                </a>
                   <div class="section2_logo">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ubercab.eats&hl=fr&gl=US">

                        <img src={% static 'app/img/livraison/play_store.png' %} alt="">
                    </a>
                    <a target="_blank" href="https://apps.apple.com/fr/app/uber-eats-livraison-de-repas/id1058959277">

                        <img class="section2_app_store" src={% static 'app/img/livraison/app_store.png' %} alt="">
                    </a>
                   </div>
            </div>
        </div>
    </section>

    <!---Section 10-->
    <section id="contact" class="section10">
        <div>
            <div class="section10_div_title">
                <h2 class="titre_section">CONTACT <s>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</s></h2>
                <h1 class="titre_section active">Contact Us</h1>
            </div>
            <div class="section10_maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.064868201575!2d4.186071976290046!3d50.47713608544237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c237b25f9d59a1%3A0xf16b465dc86e1e1f!2sRue%20du%20Temple%206%2C%207100%20La%20Louvi%C3%A8re!5e0!3m2!1sfr!2sbe!4v1695065845041!5m2!1sfr!2sbe" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="section10_form">
                <div class="section10_info">
                    <ul>
                        <div>
                            <li>
                                <div>
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="title_black section10_div_logo">
                                    <h3 class="titre_section">Emplacement :</h3>
                                    <p>Rue du Temple 6, 7100 La Louvière </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="fa-regular fa-clock"></i>
                                </div>
                                <div class="title_black section10_div_logo">
                                    <h3 class="titre_section ">Ouverture :</h3>
                                    <p>Tous les jours : 17:30 - 22:00 <br>
                                        Fermé Mardi</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                                <div class="title_black section10_div_logo">
                                    <h3 class="titre_section">Email :</h3>
                                    <p>Maki2.0@hotmail.com</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                </div>
                                <div class="title_black section10_div_logo">
                                    <h3 class="titre_section">Telephone :</h3>
                                    <p>+32 497 66 64 35</p>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="section10_div_droite">
                    <div class="section10_inputs">
                        <input type="text" class="section10_input" placeholder="Your Name">
                        <input type="text" class="section10_input" placeholder="Your Email">
                    </div>
                    <div class="section10_inputs">
                        <input type="text" class="section10_input2" placeholder="Subject">
                    </div>
                    <div class="section10_inputs">
                        <textarea class="section10_big_input" type="text" placeholder="Message"></textarea>
                    </div>
                    <div class="section10_div_btn">
                        <button class="section10_btn">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
        </section>
</main>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container-fluid">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white">
            <!-- Grid container -->
            <div class="container-fluid">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-around">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">FOOTER CONTENT</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Molestiae modi cum ipsam ad, illo possimus laborum ut
                                reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
                                Reiciendis assumenda iusto sapiente inventore animi?
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Liens</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="mb-4" />

                <!-- Section: Social media -->
                <section class="mb-4 text-center">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/profile.php?id=100075543893236" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/maki_2_0/" role="button"><i
                            class="fab fa-instagram"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
                Fait par <a class="no_decoration" target="_blank" href="https://www.linkedin.com/in/mohamed-gourou-a09417270/"  style="color: #ef6036" >Shb</a>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                Tous droits réservés © 2023
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
<!-- Template Main JS File -->
<script src={% static "app/js/main.js" %}></script>
{% endblock content %}