{% extends "base.html" %}
{% load  static %}

{% block head_content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maki 2.0 - Producten</title>

    <!-- Favicon
    ================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href={% static 'app/img/icon_sushi.png' %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static 'app/img/icon_sushi.png' %}>

    <!-- Template Main CSS File -->
    <link href={% static "app/css/style.css" %} rel="stylesheet">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock head_content %}


{% block content %}

<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-black navbar-dark ">
        <div class="container w-75">
          <a class="navbar-brand" href="#">
            <!-- <h2>MAKI <span class="active">2</span>.0</h2> -->
            <img class="img_logo" src={% static "app/img/logo_maki.png" %} alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light hovera" aria-current="page" href="{% url 'homeNL' %}">Retour à l'accueil</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
  
{% endblock content %}