{% extends "base.html" %}
{% load static %}


{% block head_content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maki 2.0 - Chargement</title>

    <!-- Favicon
    ================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href={% static 'app/img/icon_sushi.png' %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static 'app/img/icon_sushi.png' %}>

    <!-- Template Main CSS File -->
    <link href={% static "app/css/style.css" %} rel="stylesheet">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock head_content %}


{% block content %}

<div id="google-reviews">
    {% for review in reviews %}
    <div class="review">
        <p class="rating">Note : {{ review.rating }}/5</p>
        <p class="author">Avis de {{ review.author_name }}</p>
        <p class="text">{{ review.text }}</p>
    </div>
    {% endfor %}
</div>


<!-- Footer -->
<footer class="text-center text-lg-start text-white">

    <div class="footer_div">
        <!-- Section: Social media -->
        <div class="footer_logo_social">
            <div>
                <!-- Facebook -->
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-floating " target="_blank"
                        href="https://www.facebook.com/profile.php?id=100075543893236" role="button"><img src={% static 'app/img/facebook.svg' %} alt=""></a>

                    <!-- Instagram -->
                    <a class="btn btn-floating ms-3" target="_blank"
                        href="https://www.instagram.com/maki_2_0/" role="button"><img src={% static 'app/img/instagram.svg' %} alt=""></a>
                </div>

            </div>
        </div>
        <!-- Section: Social media -->


        <!-- Copyright -->
        <div class="footer_text" style="background-color: rgba(0, 0, 0, 0.2)">
            <a href="" class="no_decoration"><span><u>Conditions générales de ventes</u></span></a>
            <span> Fait par <a class="no_decoration" target="_blank"
                    href="https://www.linkedin.com/in/mohamed-gourou-a09417270/" style="color: #ef6036">Shb</a></span>
            <span>Tous droits réservés © 2023</span>
        </div>
        <div class="footer_logo_halal" style="background-color: rgba(0, 0, 0, 0.2)">
            <img src={% static 'app/img/logo_halal.png' %} alt="">
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Template Main JS File -->
<script src={% static "app/js/main.js" %}></script>
  
{% endblock content %}